<h1>Bueller Student Directory</h1>
<%= link_to 'Sign Up', new_user_path %>
<%= link_to 'Sign In', new_session_path %>
<% if flash[:notice] %>
<div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<br>
<h2>Student Entries</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>E-mail Address</th>
    <th>Gravatar Image</th>
  </tr>
    <% @users.each do |user| %>
  <tr>
      <td><%= user.name %></td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><%= image_tag avatar_url(user) %></td>
    <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>